{%extends 'weather_app/base.html'%}
{%block content%}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 offset-1">
            <h1>Weather in your city</h1>
            <form method="post">
                {%csrf_token%}
                {%if not form.errors%}
                    <input type="text" name="name" class="form-control" placeholder="Enter city" maxlength="30" required="" id="id_name">
                {%else%}
                    <input type="text" name="name" class="form-control is-invalid" id="id_name" placeholder="Enter city" required>
                    <div class="invalid-feedback">
                        {{form.errors.as_text}}
                    </div>
                {%endif%}
                <input type="submit" name="send" value="Check" class="mt-2 btn btn-danger">
            </form>
        </div>
        <div class="col-4 offset-1">
            <h1>Last requests</h1>
            {%for city in cities|slice:":4"%}
            <div class="alert alert-info" style="padding-top: 10px; padding-bottom: 10px;">
                <div class="row">
                    <div class="col-6" style="width: 244px">
                        <p><b>City:</b> {{city.name}}</p>
                        <p><b>As of:</b> {{city.time}}</p>
                        <p><b>Temperature:</b> {{city.temperature}}<sup>o</sup>C</p>
                    </div>
                    <div class="col-1 mt-4 offset-3" style="margin-left: 40px;">
                        <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="icon" class="img" width="60px">
                    </div>
                    <div class="col-1 align-self-end" style="padding-left: 22px;">
                        <form action="{%url 'request_delete' city.pk%}" method="post">
                            {%csrf_token%}
                            <input type="submit" class="btn btn-outline-secondary btn-sm" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
            {%empty%}
                <div class="alert alert-danger">
                    There is not any requests yet :(
                </div>
            {%endfor%}
            {% if cities|length > 4 %}
            <div class="text-end">
                <a href="{%url 'requests'%}">
                    <button type="button" class="btn btn-primary">Show all</button>
                </a>
            </div>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}