{%extends 'todo_app/base.html'%}

{%block title%} {{title}} {%endblock%}

{%block content%}

<h1>All tasks</h1>
{%if tasks%}
{%for task in tasks%}
    <div class="alert alert-warning mt-2">
        <h3>{{task.title}}</h3>
        <small><b>Deadline: {{task.deadline}}</b> | Created: {{task.on_create}}</small>
        <p>{{task.description|truncatewords:50}}</p>
        <small>
            Tags:
            {%for tag in task.tags.all%}
            <a href="{%url 'tag_filter' tag%}">{{tag}}</a>
            {%endfor%}
        </small>

        <div class="text-right">
            <a href="{%url 'task_edit' task.pk%}"><button class="btn btn-primary">Edit</button></a>
            <a href="{%url 'task_delete' task.pk%}"><button class="btn btn-danger">Delete</button></a>
        </div>

    </div>
{%endfor%}
{%else%}
    <p>There is no any tasks yet... But you can add them!</p>
{%endif%}

{%endblock%}