{%extends 'todo_app/base.html'%}

{%block title%} {{title}} {%endblock%}

{%block content%}
<div class="container">
    <h4>You can add new tags by filling the form below</h4>
    <form method="post" action="{%url 'tags_list'%}">
        <div class="row">
            <div class="col">
                {%csrf_token%}
                {{form.name}}
                <div class="container" style="color:red">
                    {{form.errors.name.as_text}}
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>


<div class="container mt-4">
    {%if tags%}
        <h4>Tags list</h4>
    {%else%}
        <h4>There isn't any tags</h4>
    {%endif%}

    {%for tag in tags%}
    <div class="container">
        <div class="row mt-2">
            <div class="col-1 align-self-start">
                <p class="align-middle"><a href="{%url 'tag_filter' tag%}">{{tag}}</a></p>
            </div>
            <div class="col-1 align-self-start">
                <form action="{%url 'tag_delete' tag.pk%}" method="post">
                    {%csrf_token%}
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
    {%endfor%}

</div>

{%endblock%}