<!DOCTYPE html>
{%load post_tags%}
{%load static%}

<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="{%static 'blog/css/styles.css'%}">

  <title>{%block title%} {%endblock%}</title>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:index' %}">All posts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:post-add' %}">Add post</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          {%if request.user.is_authenticated%}
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'blog:profile'%}">{{request.user.username}}</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:logout' %}">Logout</a>
          </li>
          {%else%}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:login' %}">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'blog:register' %}">Register</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </div>
  </nav>
</header>


<div class="container-fluid">
  <div class="row pt-3">
    <nav class="col-3">
      <div class="p-3 bg-white">
        <ul class="list-unstyled ps-0">
          <li class="mb-1">
            <a href="{%url 'blog:index'%}" style="text-decoration: none;"><h3 class="text-center">Blog</h3></a>
          </li>
          <hr>
          <p class="text-center" style="font-size: smaller">Already written {% total_posts %} posts.</p>
          <hr>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#latest-post-collapse" aria-expanded="false">
              Latest posts
            </button>
            <div class="collapse" id="latest-post-collapse">
              <ol>
                {%show_latest_posts%}
              </ol>
            </div>
          </li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#most-comments-post-collapse" aria-expanded="false">
              Most commented posts
            </button>
            {% get_most_commented_posts as most_commented_posts%}
            <div class="collapse" id="most-comments-post-collapse">
              <ul>
                {% for post in most_commented_posts%}
                <li>
                  <a href="{{post.get_absolute_url}}" class="link-dark rounded">{{post.title}}</a>
                </li>
                {%endfor%}
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
              Account
            </button>
            <div class="collapse" id="account-collapse">
              <ul>
                {%if request.user.is_authenticated%}
                <li><a href="{%url 'blog:profile'%}" class="link-dark rounded">Profile</a></li>
                <li><a href="{%url 'blog:logout'%}" class="link-dark rounded">Logout</a></li>
                {%else%}
                <li><a href="{%url 'blog:register'%}" class="link-dark rounded">Register</a></li>
                <li><a href="{%url 'blog:login'%}" class="link-dark rounded">Login</a></li>
                {%endif%}
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            {%block similar_posts%}{%endblock%}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container col-9">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>