{% extends 'base.html' %}

{% block title %} Blog detail {% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">
        <h2>{{post.title}}</h2>
        <small>
            Created: {{ post.created_on.date }}
            {%if post.modified_on%}
            | Modified: {{ post.modified_on.date }}
            {%endif%}
            | Категории:
                {% for category in post.categories.all %}
                    <a href="{%url 'blog-category' category.title%}">{{ category.title }}</a>
                {% endfor %}
        </small>

        <p>{{post.body|linebreaks}}</p>

        <h3>Оставьте комментарий:</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{form.author}}
            </div>
            <div class="form-group">
                {{form.body}}
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <hr>
        <h3>Комментарии:</h3>
        {%for comment in comments%}
            <p>
                On {{comment.created_on.date }}
                <b>{{comment.author}}</b> wrote:
                <br><br>
                {{comment.body}}
            </p>
            <hr>
        {%endfor%}
    </div>
{% endblock %}




