{%extends 'base.html'%}

{%block title%}
    Посты категории: {{category|title}}
{%endblock%}

{% block content %}
<div class="col-md-8 offset-md-2">
    <h1>Выбрана категория: {{category|title}}</h1>
    <hr>
    {% for post in posts %}
        <h2>
            <a href="{{post.get_url}}">{{post.title}}</a>
        </h2>
        <small>
            {{ post.created_on.date }} |
            Категории:
            {% for category in post.categories.all %}
                <a href="{% url 'blog-category' category %}">{{category.title}}</a>
            {% endfor %}
        </small>
        <p>{{post.body |slice:":100"}}...</p>
    {% endfor %}
</div>
{% endblock %}
