{% extends 'blog/base.html' %}

{% block title %} {{post.title}} {% endblock %}

{%block similar_posts%}
<h4>Similar posts:</h4>
{%for post in similar_posts%}
<p><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
{%endfor%}
{%endblock%}

{% block content %}
<div class="shadow-lg p-3 mb-3 bg-light text-dark">
  <div>
    <h2>{{post.title}}</h2>
    <hr>
    <div class="row">
      <div class="col">
        <small>
          <i><b>Published</b>: {{ post.publish }} |
            <b>Author</b>: {{ post.author }} |
            <b>Tags:</b>
            {%for tag in post.tags.all%}
            <a href="{%url 'blog:post-list-by-tag' tag%}" style="text-decoration: none;">{{tag}}</a>
            {%endfor%}
          </i>
        </small>
      </div>
      <div class="col text-end">
        {%if request.user == post.author%}
        <a href="{%url 'blog:post-edit' post.pk%}" class="btn btn-secondary btn-sm">Edit</a>
        {%endif%}
      </div>
    </div>

    <p>
      {{post.body|linebreaks}}
    </p>
  </div>

  <div>
    <hr>
    {% with comments.count as total_comments %}
    <h3>
      {{ total_comments }} comment{{ total_comments|pluralize }}
    </h3>
    {% endwith %}


    {% for comment in comments %}
    <div class="alert alert-secondary">
      <span class="badge text-bg-primary">
        Comment #{{ forloop.counter }}
      </span>
      <small>{{ comment.created }} by {{ comment.author }}</small>
      <p>{{ comment.body|linebreaks }}</p>
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}
  </div>


  <div>
    <hr>
    {%if request.user.is_authenticated%}
    <h3>Add a new comment</h3>
    <form method="post">
      {% csrf_token %}
      <div class="form-group col-6">
        {{comment_form.as_p}}
      </div>
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
    {%else%}
    <h5><a href="{%url 'blog:register'%}">Register</a> or <a href="{%url 'blog:login'%}">login</a> to leave comments
    </h5>
    {%endif%}
  </div>
</div>

{% endblock %}
